.trending-heading{
    /* border: 1px solid blue; */
    padding-bottom: 2%;
}

.trending_row{
    border: 1px solid red;
}
/* .trending_column{
    border: 1px solid red;
} */


/* .card_image{
    border: 1px solid green;
}

.card-body{
    border: 1px solid blue;
    height: 100px;
} */
/* 
p{
    margin: 0 0 0 0;
} */