.bannerImage{
    width: 100%;
    height: 500px;
    border: 2px solid white;
    background-image: url("https://travelandclimate.org/sites/default/files/styles/stor/public/2018-03/flight2.jpg?itok=6sypgQWM");
    background-size: cover;
}
.bannerheading{
    /* border: 1px solid red; */
    text-align: center;
    color: #1a71f5;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10%;
}
.bannersearchboxdiv{
    /* border: 2px solid black; */
    margin: auto;
    width: 40%;
    height: 58px;
    border-radius: 10px;
}
.bannerinputdestination{
    width: 75%;
    height: 60px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    color: #3380F2;
    font-weight: 700;
    font-size: 18px;
    
}
.bannerinputdestination::placeholder{
    color: #3380F2;
}
input::placeholder{
    padding-left: 10%;
}
.bannersearchbutton{
    height: 60px;
    width: 25%;
    border: none;
    margin-bottom: 1%;
    background-color: #3380F2;
    margin-left: 0%;
    color: White;
    font-weight: 700;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
}
.bannersearchbutton:hover{
    border: 3px solid #3380F2;
    border-radius: 0px;
    background-color: White;
    color: #3380F2;
}