.dropcontainer{
    display: flex;
    height: 100px;

    /* border: 2px solid black; */
    /* background-color: #3380f2; */
}

.innerdropdowncontiner1{
    /* background-color: red; */
    width: 20%;
    margin-left: 4%;
}

.innerdropdowncontiner1 h2{
    color: #3380f2;
   margin-top: 6%;

}
.innerdropdowncontainer2{
    /* border: 1px solid red; */
    /* border: 3px solid white; */
    /* background-color: blue; */
    width: 70%;
}

.optionscontainer{
    /* border: 2px solid white; */
    display: flex;
    margin-top: 2%;
}
.singledropcontainer{
    /* border: 1px solid red; */
    /* width: 80%; */
    margin-left: 3%;
    border: none;
}

.singledropcontainer button{
    /* margin-left: 3%; */
    background-color: blue !important;
    color:white;
}

.singledropcontainer button:hover{
    background-color: #3380f2;
    color: white;
}
/* style={{ marginLeft: "8%", background: "white", color: "blue" }} */