.top-heading{
    /* border: 1px solid red; */
    margin-bottom: 3%;
}

.card{
    border: 1px solid red;
    width: 95%;
    margin: auto;
    /* justify-content: center; */
}
/* 
.main-div{
    border: 1px solid red;
    justify-content: center;
} */
/* .image-texts{
    border: 1px solid red;
} */
/* .Images{
 border: 1px solid red;
 height: 270px;
 max-width: 70%;
 align-items: center;
 margin-left: 18%;
} */

/* .cardtext{
    border: 1px solid red;
    font-size: large;
}

.main-container {
    border: 1px solid green;
}

.main-title{
    border: 1px solid red;
    text-align: bottom;
}

.card-image{
    border: 1px solid red;
} */