#container{
    display : grid ; 
    grid-template-areas: "nav nav nav nav" "box1 box2 box3 box4" ;
    gap: 20px;

} 
 #nav{
     grid-area: nav;
     background-color: yellow;
     height : 100px ; 
 } 
 #box1{
     grid-area: box1;
     background-color: red;
     
 }
 #box2{
     grid-area: box2;
     background-color: green;
 }
 #box3{
     grid-area: box3;
     background-color: blue;
 }
 #box4{
     grid-area: box4;
     background-color: gray;
 }
 
 
   #container>.boxs{
       height : 200px ; 
   }  
 
@media screen and (min-width : 500px) and (max-width : 768px) {
 #container{
    display : grid ; 
    grid-template-areas: "nav nav " "box1 box2" "box3 box4" ;
    gap: 20px;

} 
  } 
  @media screen and (min-width : 0px) and (max-width : 499px) {
 #container{
    display : grid ; 
    grid-template-areas: "nav" "box1" "box2" "box3" "box4" ;
    gap: 20px;
     

} 
#container>.boxs{
       height : 100px ; 
   }  
  }