.my-carousel {
  border: 1px solid red;
}

img {
    margin: auto;
    
}

/* @media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}


.carousel {
    border: 1px solid black;
    height: 100px;
    width: auto;
  width:auot;
  height:auto;
  margin: auto;
} */