.main-form{
    border: 1px solid black;
    background-color: rgb(197,120,137);
    /* height: 100px; */
}

.text-info {
    color: RGB(255, 255, 255);
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
}

.button-info {
    border: 1px solid red;
}