.main{
    width: 70%;
    height: 700px;
    border: 1px solid lightgray;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.head{
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid white;
}
.title{
    display: flex;
    border: 1px solid white;
    margin-left: 3%;
    font-size:35px;
}
.title1{
    border: 1px solid white;
    margin: 20px 0 20px 0 ;
}
.title2{
    border: 1px solid white;
    margin-left: 5%;
    font-weight: bolder;
    margin: 20px 0 20px 5%;
}
.title3{
    border: 1px solid white;
    text-align: center;
    margin: 20px 0 20px 5%;
    color: black;
    font-weight: 500;
    padding-top: 15px;
}
.title3:hover{
    color: red;
    text-decoration: underline;
}
.title4{
    border: 1px solid white;
    padding-top: 15px;
    margin: 20px 0 20px 5%;
    color: red;
    text-decoration: underline;
}

.data{
    width: 96%;
    margin: 25px;
    height: auto;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.names{
    width: 48%;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 560px;
}
.namesContainer{
    width: 90%;
    height: 100%;
    border: 1px solid white;
    margin: 0px 20px 0 20px;
    overflow-y: scroll;
}
.picimg{
    border: 1px solid white;
    margin-top: 25px;
}

/* .popularimagediv{
    border: 1px solid white;
    margin-top: 25px;
} */
.popularimagediv:hover{
   border-radius: 50%;
   overflow: hidden;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
.pic{
    display: inline-block;
    vertical-align: top;
    border: 1px solid white;
    border-radius: 10px;
}
.country{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid white;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}
.images{
    width: 98%;
    border: 1px solid white;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.img{
    width: 50%;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 0 20px 7%;
    position: relative;
    text-align: center;
    border: none;
}
.container{
    display: flex;
    flex-direction: column;
}

img{
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	 transition: all 0.3s;
}

/* .popularimagediv:hover {
    -moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
    opacity: 0.8;
} */
.bottom-left {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }

  @media screen and (max-width: 950px) {
     .title3{
        display: none;
     }
     .title1{
        font-size: 30px;
     }
     .title2{
        font-size: 30px;
     }
     .title4{
        margin-left: 200px;
     }
     .data{
        flex-direction: column;
     }
     .names{
        width: 98%;
     }
     .container{
        margin: 20px 500px 20px 0;
        width: 95%; 
     }
    .main{
        width: 90%;
        height: auto;
    }
    img{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .title3{
        display: none;
     }
     .title1{
        font-size: 25px;
     }
     .title2{
        font-size: 25px;
     }
     .title4{
        margin-left: 50px;
     }
     .data{
        flex-direction: column;
     }
     .names{
        width: 95%;
     }
     .container{
        margin: 20px 500px 20px 0;
        width: 100%; 
     }
    .main{
        width: 98%;
        height: auto;
    }
    .images{
        flex-direction: column;
    }
    .img{
        margin: 10px 0px 10px 5px;
        width: 95%;
    }
    .title4{
        font-size: 12px;
    }
}