.middleslide {
  width: 99%;
  height: 600px;
  position: relative;
  background: linear-gradient(45deg, #f79c22, #9757e9);
  box-sizing: border-box;
}

.middleslide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.innerItem {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 5%;
  box-sizing: border-box;
}
.innerItem h1 {
  text-align: center;
  margin-bottom: 15px;
}
#carouselExampleControls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.innerItem p {
  margin: 15x;
}
.btnSlider {
  font-size: 23px;
  font-weight: 600;
  border-radius: 25px;
  padding: 10px 0px;
  width: 220px;
  margin: auto;
  color: white;
  border: none;
  text-align: center;
  margin-top: 15px;
  /* background: linear-gradient(90deg, #f79c22, #9757e9); */
  /* background: linear-gradient(45deg, #3408F3, #c0d3e7); */
  background: #31124b;
}

.btnSlider:hover {
  background: linear-gradient(45deg, #3408F3, #c0d3e7);
  /* background: linear-gradient(90deg, #9757e9, #f79c22); */
}

.ratings {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.ratingOuter {
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 15px auto;
}


