/* This is the newer css part */
.navbar-container {
  height: 80px;
  z-index: 1;
  position: fixed;
  width: 80%;
}
.navbar-fixed {
  background: rgb(51,128,242);
  position: fixed;
  transition: all 1s ease;
  width: 100%;
}
.navbar_fixed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 80px;
}
.menu-links {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  margin-top: 2%;
  line-height: 15px;
}

.fixed-menu-link {
  height: 40px;
  width: 50px;
  border-radius: 7px;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  margin-right: 12px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}
.transparentNavbar{
  display: flex;
  width: 85%;
  height: 70px;
  margin-left: 15%;
}

.logo2 {
  height: 50px;
  width: 150px;
  margin-top: 1%;
  margin-left: -15%;
}
.logo2 img {
  height: 50px;
  width: 150px;
}
.logo1 {
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin: 9% 0 0% 50%;
}
.logo1 img {
  height: 50px;
  width: 150px;
}
.navbar {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 70px;
}
#navbarLinksButtons {
  margin-top: 5% 0 5% 0;
}
.navbar-links-container {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 2%;
  color: white;
  font-size: 13px;
  margin-top: 1%;
}
.navbar-links-container1 {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 2%;
  color: white;
  font-size: 13px;
  margin-top: 1%;
  margin-left: 97%;
}

.nav-link {
  height: 36px;
  border-radius: 4px;
  background-color: #3380f2;
  cursor: pointer;
  margin: 0 5px 0 0;
  width: 70px;
  text-align: center;
  border: 2px solid white;
  color: white;
  margin-top: 0;
}
.nav-link p {
  margin-top: 6px;
  font-weight: 700;
}

.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}
.nav-link p:hover {
  color: #3380f2;
}
.login-register {
  height: 36px;
  padding: 0 10px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: #3380f2;
}
.login-register:hover {
  background-color: white;
  color: #3380f2;
}

.topbanner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 10px 10px;
  background: #fff;
  border-radius: 7px;
  position: relative;
  z-index: 0;
  height: 240px;
  margin: -10px 60px;
}
.radioOptions {
  display: flex;
  margin: auto;
  width: 75%;
  border-radius: 200px;
  font-size: 17px;
  font-weight: 700;
  height: 100px;
  color: red;
}
.selectoneway {
  margin: 3.5% 0 0 35%;
}
.selectroundtrip {
  margin: 3.5% 0 0 5%;
}
.selectmultitrip {
  margin: 3.5% 0 0 5%;
}
.topbanner-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 0 15px 15px;
  width: 98%;
}

.topbanner-radio-label {
  display: flex;
  gap: 5.5em;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.2em;
  padding: 5px 9px;
  border-radius: 999px;
  transition: all 0.5s ease;
  width: auto;
}

.topbanner-service h1 {
  font-size: 24px;
  font-weight: 400;
}

.filter-travel-container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  border: 2px solid red;
  color: red;
}

.filter-fromTo {
  display: flex;

  cursor: pointer;
  padding: 15px;
  position: relative;
  transition: background-color 0.5s linear;
}

.location {
  position: absolute;
  right: 110px;
  top: 40%;
  z-index: 50;
  transform: scale(0.8) translateY(-50%);
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 23px;
  color: #d2d2d2;
  display: inline-block;
}

.filter-fromTo h6 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.filter-fromTo label {
  font-size: 13px;
  font-weight: 500;
  color: #363636;
  text-transform: uppercase;
  white-space: nowrap;
}

.filter-fromTo p {
  font-size: 13px;
  color: #000;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.from-name {
  line-height: 5px;
}
.from-name2 {
  line-height: 5px;
  margin-left: 5px;
}
.date-from {
  display: flex;
  margin: 12px;
}

.selectdate {
  line-height: 5px;
}
.selectReturndate {
  line-height: 5px;
  margin-left: 10%;
}
.depart label {
  font-size: 13px;
  font-weight: 500;
  color: #363636;
  text-transform: uppercase;
  white-space: nowrap;
}
#travel {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.depart h6 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.depart span {
  font-weight: 400;
  font-size: 18px;
}

.depart p {
  font-size: 13px;
  color: #000;
  margin: 0;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.depart {
  margin: 12px;
}

.depart::after {
  content: "";
  width: 1px;
  height: 70%;
  background: #ebebeb;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.search-btn {
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 700;
  background: red;
  text-transform: capitalize;
  color: #fff;
  border: none;
  border-radius: 4%;
  height: fit-content;
  margin-top: 30px;
}

.menu {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.menu-icon {
  height: 70px;
  width: 90px;
  border-radius: 7px;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
  margin-left: 1%;
}
.menu-icon:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.menu-icon span {
  white-space: nowrap;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.menu-icon-active {
  background: skyblue;
  border-color: skyblue;
  height: 70px;
  width: 90px;
  border-radius: 7px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
  color: #fff;
}
.test {
  border: 1px solid red;
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 5%;
}
.chooseCountry {
  width: 250px;
  height: 150px;
  border: 3px solid #3380f2;
  position: fixed;
  z-index: 1;
  margin-top: 13%;
  background-color: rgb(199, 225, 236);
  border-radius: 5px;
  display: flex;
  font-weight: 700;
}
.flags {
  margin-left: 20%;
}
.partLeft {
  width: 50%;
  height: 100%;
  border-right: 3px solid #3380f2;
  color: #3380f2;
}
.partRight {
  width: 50%;
  height: 100%;
  color: #3380f2;
}
.chooseCountry ul li {
  list-style: none;
  margin-top: 15px;
}
.chooseCountry ul li img {
  width: 20px;
  height: 12px;
}
.chooseCountry ul li:hover {
  background-color: #3380f2;
  color: white;
}
.chooseCurrrency {
  width: 350px;
  height: 200px;
  border: 3px solid #3380f2;
  position: fixed;
  z-index: 2;
  margin-top: 16%;
  background-color: rgb(199, 225, 236);
  border-radius: 5px;
  display: flex;
  line-height: 20px;
}
.chooseCurrrency ul li {
  list-style: none;
  margin-top: 15px;
}
.chooseCurrrency ul li img {
  width: 40px;
  height: 24px;
  margin: auto;
}
.partone {
  width: 33%;
  height: 100%;
  border-right: 3px solid #3380f2;
}
.parttwo {
  width: 33%;
  height: 100%;
  border-right: 3px solid #3380f2;
}
.partthree {
  width: 33%;
  height: 100%;
}
.chooseCurrrency ul li:hover {
  background-color: #3380f2;
  color: white;
}
.NavbarMoreOption {
  width: 200px;
  height: 150px;
  position: fixed;
  z-index: 1;
  margin-top: 4%;
  background-color: rgb(199, 225, 236);
  border-radius: 5px;
  margin-left: 30%;
  color: white;
  background-color:#3380f2;
}
.navbarOptions {
  height: 25%;
  text-align: left;
}
.contactIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.miceIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.inspireIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.offersIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.LoginRegisterDropDown {
  width: 200px;
  height: 200px;
  position: fixed;
  z-index: 1;
  margin-top: 17%;
  background-color: rgb(199, 225, 236);
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color:#3380f2;
}
.LoginRegisterOptions {
  margin-top: 2%;
  height: 18%;
  text-align: left;
}
.LoginIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.RegisterIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.BlogsIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.PaymentIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.BookingIcon {
  margin-left: 30px;
  margin-right: 10px;
}
#hide {
  margin-bottom: 20px;
}
@media screen and (max-width: 950px) {
  .navbar-container{
      width: 100%;
  }
  .transparentNavbar{
    width: 100%;
    margin: auto;
  }
  .navbar_fixed {
    width: 100%;
    font-size: 20px;
  }
  
  .navbar-links-container1{
      margin: auto;
  }
  .navbar-links-container{
    display: none;
  }
  .logo1{
    display: none;
  }
  .menu-links{
    margin-left: -20%;
  }
  .LoginRegisterDropDown
  {
    margin-top: 30%;
  }
  .NavbarMoreOption{
    margin-top: 8%;
  }
  .chooseCountry{
    margin-top: 23%;
  }
  .chooseCurrrency{
    margin-top: 30%;
  }
}

@media screen and (max-width: 780px) {
  .navbar-container{
      width: 85%;
      margin: auto;
  }
  .logo2{
    display: none;
  }
  .navbar_fixed {
    width: 100%;
    font-size: 20px;
  }
  .navbar-links-container1{
      margin-left:25%;
  }
  .navbar-links-container{
    display: none;
  }
  .logo1{
    display: none;
  }
  .menu-links{
    margin-left: -25%;
  }
  .NavbarMoreOption{
    margin-top: 8%;
  }
  .chooseCountry{
    margin-top: 23%;
  }
  .chooseCurrrency{
    margin-top: 30%;
  }
}
@media screen and (max-width: 450px) {
  .navbar-container{
      width: 25%;
      margin: auto;
  }
  .logo2{
    display: none;
  }
  .navbar_fixed {
    width: 100%;
    font-size: 20px;
  }
  .navbar-links-container1{
    
    margin-left: -35px;
  }
  
  .logo1{
    display: none;
  }
  .menu-links{
    margin-left: -25%;
  }
  .NavbarMoreOption{
    margin-top: 8%;
  }
  .chooseCountry{
    margin-top: 23%;
  }
  .chooseCurrrency{
    margin-top: 30%;
  }
  .login-register{
    font-size: 10px;
    font-weight: 100;
    width: 80px;
  }
  
}


/* This is the old css part */
/* .navbar-container {
  
  height: 80px;
  width: 100%;
  z-index: 1;
  position: fixed;
}
.navbar-fixed {
  background: rgb(51,128,242);
  min-width: 950px;
  overflow: hidden;
  position: fixed;
  top: -78px;
  transition: all 1s ease;
  width: 100%;
  z-index: 1 !important;
  top: 0;
}
.navbar_fixed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 80px;
}
.menu-links {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  margin-top: 2%;
  line-height: 15px;
}

.fixed-menu-link {
  height: 40px;
  width: 50px;
  border-radius: 7px;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  margin-right: 12px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

.logo2 {
  height: 50px;
  width: 150px;
  margin: 5% 0 0% 50%;
}
.logo2 img {
  height: 50px;
  width: 150px;
}
.logo1 {
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin: 9% 0 0% 50%;
}
.logo1 img {
  height: 50px;
  width: 150px;
}
.navbar {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 70px;
}
#navbarLinksButtons {
  margin-top: 5% 0 5% 0;
}
.navbar-links-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 2%;
  color: white;
  font-size: 13px;
  margin-top: 1%;
}

.nav-link {
  height: 36px;
  border-radius: 4px;
  background-color: #3380f2;
  cursor: pointer;
  margin: 0 5px 0 0;
  width: 70px;
  text-align: center;
  border: 2px solid white;
  color: white;
  margin-top: 0;
}
.nav-link p {
  margin-top: 6px;
  font-weight: 700;
}

.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}
.nav-link p:hover {
  color: #3380f2;
}
.login-register {
  height: 36px;
  padding: 0 10px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: 2px solid white;
}
.login-register:hover {
  background-color: white;
  color: #3380f2;
}

.topbanner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 10px 10px;
  background: #fff;
  border-radius: 7px;
  position: relative;
  z-index: 0;
  height: 240px;
  margin: -10px 60px;
}
.radioOptions {
  display: flex;
  margin: auto;
  width: 75%;
  border-radius: 200px;
  font-size: 17px;
  font-weight: 700;
  height: 100px;
  color: red;
}
.selectoneway {
  margin: 3.5% 0 0 35%;
}
.selectroundtrip {
  margin: 3.5% 0 0 5%;
}
.selectmultitrip {
  margin: 3.5% 0 0 5%;
}
.topbanner-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 0 15px 15px;
  width: 98%;
}

.topbanner-radio-label {
  display: flex;
  gap: 5.5em;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.2em;
  padding: 5px 9px;
  border-radius: 999px;
  transition: all 0.5s ease;
  width: auto;
}

.topbanner-service h1 {
  font-size: 24px;
  font-weight: 400;
}

.filter-travel-container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  border: 2px solid red;
  color: red;
}

.filter-fromTo {
  display: flex;

  cursor: pointer;
  padding: 15px;
  position: relative;
  transition: background-color 0.5s linear;
}

.location {
  position: absolute;
  right: 110px;
  top: 40%;
  z-index: 50;
  transform: scale(0.8) translateY(-50%);
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 23px;
  color: #d2d2d2;
  display: inline-block;
}

.filter-fromTo h6 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.filter-fromTo label {
  font-size: 13px;
  font-weight: 500;
  color: #363636;
  text-transform: uppercase;
  white-space: nowrap;
}

.filter-fromTo p {
  font-size: 13px;
  color: #000;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.from-name {
  line-height: 5px;
}
.from-name2 {
  line-height: 5px;
  margin-left: 5px;
}
.date-from {
  display: flex;
  margin: 12px;
}

.selectdate {
  line-height: 5px;
}
.selectReturndate {
  line-height: 5px;
  margin-left: 10%;
}
.depart label {
  font-size: 13px;
  font-weight: 500;
  color: #363636;
  text-transform: uppercase;
  white-space: nowrap;
}
#travel {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.depart h6 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.depart span {
  font-weight: 400;
  font-size: 18px;
}

.depart p {
  font-size: 13px;
  color: #000;
  margin: 0;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.depart {
  margin: 12px;
}

.depart::after {
  content: "";
  width: 1px;
  height: 70%;
  background: #ebebeb;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.search-btn {
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 700;
  background: red;
  text-transform: capitalize;
  color: #fff;
  border: none;
  border-radius: 4%;
  height: fit-content;
  margin-top: 30px;
}

.menu {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.menu-icon {
  height: 70px;
  width: 90px;
  border-radius: 7px;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
  margin-left: 1%;
}
.menu-icon:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.menu-icon span {
  white-space: nowrap;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.menu-icon-active {
  background: skyblue;
  border-color: skyblue;
  height: 70px;
  width: 90px;
  border-radius: 7px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
  color: #fff;
}
.test {
  border: 1px solid red;
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 5%;
}
.chooseCountry {
  width: 250px;
  height: 150px;
  border: 3px solid #3380f2;
  position: fixed;
  z-index: 1;
  margin-top: 13%;
  background-color: rgb(199, 225, 236);
  border-radius: 5px;
  display: flex;
  font-weight: 700;
}
.flags {
  margin-left: 20%;
}
.partLeft {
  width: 50%;
  height: 100%;
  border-right: 3px solid #3380f2;
  color: #3380f2;
}
.partRight {
  width: 50%;
  height: 100%;
  color: #3380f2;
}
.chooseCountry ul li {
  list-style: none;
  margin-top: 15px;
}
.chooseCountry ul li img {
  width: 20px;
  height: 12px;
}
.chooseCountry ul li:hover {
  background-color: #3380f2;
  color: white;
}
.chooseCurrrency {
  width: 350px;
  height: 200px;
  border: 3px solid #3380f2;
  position: fixed;
  z-index: 2;
  margin-top: 16%;
  background-color: rgb(199, 225, 236);
  border-radius: 5px;
  display: flex;
  line-height: 20px;
}
.chooseCurrrency ul li {
  list-style: none;
  margin-top: 15px;
}
.chooseCurrrency ul li img {
  width: 40px;
  height: 24px;
  margin: auto;
}
.partone {
  width: 33%;
  height: 100%;
  border-right: 3px solid #3380f2;
}
.parttwo {
  width: 33%;
  height: 100%;
  border-right: 3px solid #3380f2;
}
.partthree {
  width: 33%;
  height: 100%;
}
.chooseCurrrency ul li:hover {
  background-color: #3380f2;
  color: white;
}
.NavbarMoreOption {
  width: 200px;
  height: 150px;
  position: fixed;
  z-index: 1;
  margin-top: 4%;
  background-color: rgb(199, 225, 236);
  border-radius: 5px;
  margin-left: 30%;
  color: white;
  background-color: rgb(51, 128, 242, 0.7);
}
.navbarOptions {
  height: 25%;
  text-align: left;
}
.contactIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.miceIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.inspireIcon {
  margin-left: 30px;
  margin-right: 10px;
}
.offersIcon {
  margin-left: 30px;
  margin-right: 10px;
}
#hide {
  margin-bottom: 20px;
}
@media screen and (min-width: 560px) and (max-width: 950px) {
  .radioOptions {
    font-size: 16px;
    flex-direction: column;
    height: 180px;
    justify-content: left;
  }
  .selectoneway {
    margin: 0 0 0 0;
    font-size: 15px;
  }
  .selectroundtrip {
    margin: 4% 0 0 0;
    font-size: 15px;
  }
  .selectmultitrip {
    margin: 4% 0 0 0;
    font-size: 15px;
  }
  .topbanner-service h1 {
    display: none;
  }
  .topbanner-radio-label {
    margin: auto;
  }
  #hide {
    display: none;
  }
  .filter-travel-container {
    flex-direction: column;
    margin-top: 5%;
  }
  .filter-fromTo {
    margin: auto;
    margin-top: 25px;
  }
  .date-from {
    margin: auto;
    margin-top: 25px;
  }
  .search-btn {
    margin-left: 35%;
  }
  #travel {
    margin: auto;
    margin-top: 25px;
    flex-direction: column;
  }
  .navbar_fixed {
    width: 100%;
    font-size: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .radioOptions {
    font-size: 12px;
    flex-direction: column;
    height: 180px;
    justify-content: left;
  }
  .selectoneway {
    margin: 0 0 0 0;
    font-size: 12px;
  }
  .selectroundtrip {
    margin: 4% 0 0 0;
    font-size: 12px;
  }
  .selectmultitrip {
    margin: 4% 0 0 0;
    font-size: 12px;
  }
  .search-btn {
    margin-left: 28%;
  }

  .date-from {
    display: flex;
    flex-direction: column;
  }
  .filter-travel-container {
    flex-direction: column;
  }
  #travel {
    margin: auto;
    margin-top: 25px;
    flex-direction: column;
  }
  .navbar {
    display: none;
  }
  .topbanner-service h1 {
    display: none;
  }
  .topbanner-radio-label {
    margin: auto;
  }
  #hide {
    display: none;
  }
  .filter-travel-container {
    flex-direction: column;
  }
  .filter-fromTo {
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .date-from {
    margin: auto;
    margin-top: 25px;
  }
  #travel {
    margin: auto;
    margin-top: 25px;
  }
  .navbar_fixed {
    display: none;
  }
  .topbanner-radio-label {
    gap: 2em;
  }
}
 */
